body {
    margin-left: 100px;
}

.gris {
    background-color: #3c3b3d;
}

.orange {
    background-color: orange;
}

/*Slidebar start*/

#sidebar {
    box-shadow: 2px 10px 10px black;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #3c3b3d;
    color: white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}

#sidebar ul li a i {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: white;
}

#sidebar ul li a:hover {
    color: black;
    transform: scale(1.2);
}

/*Slidebar end*/

.btn { 
    background-color: orange;
    color: white
}

.barre {
    margin-top: 10px;
    padding-bottom: 5px;
}

.card{
    background-color: #3c3b3d;
    margin-bottom: 15px;
}

.img {
    width: 100px;;
}

.container {
    text-align: center;
    color: white;
    font-family: Verdana;
    padding-top: 25px;

}

.background {
    height: 70vh;
    background: url("image/wp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.softskill {
    font-size: 18px;
}

.col-4 {
    padding: 0px 40px;
}

.texte {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translateX(-40%) translateY(-50%);
    color: white;
    font-family: Verdana;
    font-size: 50px;

}
.plus {
    color: orange;
}

.btn-dl {
    margin-bottom: 20px;
    color: white;
    font-family: Verdana;
    font-size: 20px;
}

.btncontact {
    color: orange;
}

.contact {
    color: white;
    font-family: Verdana;
    font-size: 18px;
}

.row p a {
    color: white;
}

.row p a:hover {
    color: orange;
}

.card-title {
    color: orange;
}

.nom {
    color: orange;
}

.btnexp{
    background-color: #3c3b3d;    
    border-radius: 15px;
    width: 750px;
    height: 50px;
    display: block;
    margin: 15px auto;
    font-size: 20px;
    color: orange;    
}

.iexp{
    font-size: 35px;
}

.cbtn {
    border-color: white;
    background-color: #3c3b3d;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#moi {
    font-size: 17px;
}
